---
import Experience from "../components/Experience.astro";
import ContactMedia, {
  type Props as ContactProps,
} from "../components/ContactMedia.astro";
import HomeSection from "../components/HomeSection.astro";

const experiences = (
  await Astro.glob("../../public/experience/*.md")
).reverse();

const contactLinks: ContactProps[] = [
  {
    media: "LinkedIn",
    link: "https://www.linkedin.com/in/rowan-murray-303242246/",
    display: "Rowan Murray",
  },
  {
    media: "GitHub",
    link: "https://github.com/RowMur",
    display: "RowMur",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Rowan Murray - Junior Software Engineer</title>
  </head>
  <body
    class="bg-[#252525] max-w-[544px] px-[24px] py-[40px] mx-auto text-white"
  >
    <h1 class="m-0 font-semibold text-3xl">
      Hi, I'm Rowan.
      <br />
      <span class="opacity-60"
        >A junior software engineer based in Cambridge, UK.</span
      >
    </h1>
    <HomeSection title="Experience">
      {experiences.map((experience) => <Experience experience={experience} />)}
    </HomeSection>
    <HomeSection title="Contact">
      {
        contactLinks.map((contactLink) => (
          <ContactMedia
            display={contactLink.display}
            link={contactLink.link}
            media={contactLink.media}
          />
        ))
      }
    </HomeSection>
  </body>
</html>
