---
import BaseLayout from "../layouts/BaseLayout.astro";
import DatedItem from "../components/DatedItem/DatedItem.astro";
import Section from "../components/Section.astro";
import PersonalProject, {
  type PersonalProjectType,
} from "../features/PersonalProject.astro";
import Post from "../features/Posts/Post.astro";

const experiences = (
  await Astro.glob("../../public/experiences/*.md")
).reverse();

const posts = await Astro.glob("./posts/*.md");
const nOfPosts = posts.length;
const latestPosts = posts.slice(nOfPosts - 3, nOfPosts).reverse();

const personalProjects: PersonalProjectType[] = [
  {
    title: "St Georges TTC Site",
    subTitle: "A website for my local table tennis club",
    imagePath: "/images/personalProjects/st-georges-site.png",
    githubLink: "https://github.com/RowMur/st-georges-site",
    liveDemoLink: "https://www.stgeorgesclub.org.uk/",
  },
  {
    title: "TT Tournament Finder",
    subTitle:
      "A web scraper for table tennis tournaments that sends me regular emails",
    githubLink: "https://github.com/RowMur/tournament-finder",
  },
];
---

<BaseLayout
  title="Hi, I'm Rowan."
  subTitle="A junior software engineer based in Cambridge, UK."
>
  <Section title="Personal Projects">
    {
      personalProjects.map((personalProject) => (
        <PersonalProject personalProject={personalProject} />
      ))
    }
  </Section>
  <Section title="Experience">
    {
      experiences.map((experience) => (
        <DatedItem
          date={experience.frontmatter.date}
          title={experience.frontmatter.company}
          subTitle={experience.frontmatter.role}
        >
          <experience.Content />
        </DatedItem>
      ))
    }
  </Section>
  <Section
    title="Latest Posts"
    titleLink={{
      link: "/posts",
      text: "all posts",
    }}
  >
    {latestPosts.map((post) => <Post post={post} />)}
  </Section>
</BaseLayout>
